*
    margin 0
    padding 0

html, body {
  height: 100%;
  box-sizing: border-box;
  background-color rgb(226,70,45)

}
.header,
.footer {
  position: fixed;
  left: 0;
  right: 0;
  text-align center
}


.header {
  top: 0;
  color #fff
  font-family: PingFangSC-Medium;
  font-size: 24px;    
}


.footer {
  bottom: 0;
}






.d-flex
    display:flex;

    &.justify-center
        justify-content: center
    &.align-center  
        align-items: center
    &.flex-column
        flex-direction column   
    &.flex-wrap
        flex-wrap: wrap 
    &.justify-space-between
        justify-content: space-between
    &.justify-space-around
        justify-content: space-around
    &.flex-1
        flex:1

.d-inline-block
    display: inline-block

.text
    &-white
        color white
    &-black
        color black
    &-darkred
        color #F15451 
    &-gray
        color #000
        opacity .3
        font-family: PingFangSC-Light;
    &-deleted
        text-decoration line-through
    &-center
        text-align: center
    &-small
        font-size: 12px

.m
    &t-1
        margin-top 10px