*
    margin 0
    padding 0

html, body {
  height: 100%;
  box-sizing: border-box;
}
.header,
.footer {
  position: fixed;
  left: 0;
  right: 0;
  text-align center
}


.header {
  top: 0;
  background-color rgb(226,70,45)
  color #fff
  font-family: PingFangSC-Medium;
  font-size: 24px;    
}


.footer {
  bottom: 0;
}


.main {
  height: 100%;
  padding: 44px 0;
  box-sizing: border-box;
  background-color rgb(226,70,45)
}



.d-flex
    display:flex;

    &.justify-center
        justify-content: center
    &.align-center  
        align-items: center

.d-inline-block
    display: inline-block

.text
    &-white
        color white
    &-black
        color black
    &-darkred
        color #F15451 
    &-gray
        color #000
        opacity .3
        font-family: PingFangSC-Light;
    &-deleted
        text-decoration line-through